<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid"> 
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1> 
  </div>

  <app-author></app-author>

  <div class="row">
    <button class="btn btn-warning" type="submit" (click)="alphaSort()">Sort Alphabetically by Title</button>
    <button class="btn btn-warning" type="submit" (click)="dateSort()">Sort by Publish Date</button>
  </div>

  <div class="row">
    <div class="col-md-6" *ngFor="let book of books">
      <div class="card m-sm-1" style="width: 22rem; background-color: #DEBE8E">
        <img class="card-img-top"src="{{ book.imageUrl }}" alt="book cover">
        <div class="card-body">
          <a href={{book.purchaseLink}}><p>Title: {{ book.title }}</p></a>
          <p>Published: {{ book.PublishDate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>