<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>
<h2>Author: </h2>
<ul>
  <li>
    <h2>{{ author.name }}</h2>
  </li>
  <li>
    <h2>{{ author.birthday }}</h2>
  </li>
  <li>
    <h2>{{ author.birthPlace }}</h2>
  </li>
</ul>

<div *ngFor="let book of books"> 
  <a href={{book.purchaseLink}}><p>{{ book.title }}</p></a>
  <p>{{ book.PublishDate }}</p>
  <img src="{{ book.imageUrl }}" alt="book cover">
</div>
