<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1> 
</div>

<h2>Author: </h2>
<ul class="author">
  <li>
    <p>Name: {{ author.name }}</p>
  </li>
  <li>
    <p>Birthday: {{ author.birthday }}</p>
  </li>
  <li>
    <p>Birth Place: {{ author.birthPlace }}</p>
  </li>
</ul>

<div class="container">
  <div class="row">
    <div class="col-md-6" *ngFor="let book of books">
      <div class="card m-sm-1" style="width: 22rem; background-color: #DEBE8E">
        <img class="card-img-top"src="{{ book.imageUrl }}" alt="book cover">
        <div class="card-body">
          <a href={{book.purchaseLink}}><p>Title: {{ book.title }}</p></a>
          <p>Published: {{ book.PublishDate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>